/* line 1, ../../../app/stylesheets/pretty.scss */
.pair-image {
  max-height: 250px;
  max-width: 275px;
  border: 8px solid white;
  -webkit-box-shadow: 3px 3px 3px #898989;
  -webkit-transform: rotate(-5deg);
  -moz-box-shadow: 3px 3px 3px #898989;
  -moz-transform: rotate(-5deg);
}

/* line 10, ../../../app/stylesheets/pretty.scss */
nav {
  margin: 10px 0 20px;
}
/* line 12, ../../../app/stylesheets/pretty.scss */
nav ul {
  list-style: none;
}
/* line 14, ../../../app/stylesheets/pretty.scss */
nav ul li {
  display: inline-block;
  list-style: none;
}

/* line 19, ../../../app/stylesheets/pretty.scss */
.flash-notice {
  border: 3px solid green;
  border-left: 0;
  border-right: 0;
  color: #228822;
  display: block;
  padding: 5px 0;
  margin: 25px 0;
}

/* line 29, ../../../app/stylesheets/pretty.scss */
h2 {
  font-size: 1.2em;
  margin: 15px 0;
  font-weight: bold;
}

/* line 34, ../../../app/stylesheets/pretty.scss */
.resources li {
  list-style: none;
}

/* line 37, ../../../app/stylesheets/pretty.scss */
.resource-section {
  margin-bottom: 30px;
}

/* line 40, ../../../app/stylesheets/pretty.scss */
.summary {
  margin-bottom: 10px;
}

/* line 43, ../../../app/stylesheets/pretty.scss */
.bids-listing {
  list-style: none;
}
/* line 45, ../../../app/stylesheets/pretty.scss */
.bids-listing li:nth-child(odd) {
  background-color: #efc;
  padding: 2px 0;
  margin: 0 0 10px 0;
}

/* line 51, ../../../app/stylesheets/pretty.scss */
.image-block {
  display: table-row;
}
/* line 53, ../../../app/stylesheets/pretty.scss */
.image-block img {
  display: table-cell;
}
/* line 56, ../../../app/stylesheets/pretty.scss */
.image-block .description {
  padding-left: 10px;
  display: table-cell;
  vertical-align: top;
}
