%h2 Available Pairs
%ul.bids-listing
  = render :partial => "bid_listing", :collection => @bids, :as => :bid

%h2 Want pairs to contact you?
%p
  I'm interested,
  = link_to "add me to this list", new_bid_path(:postal_code=> params[:postal_code])
