.pair-image {
  /*-webkit-transform: rotate(-5deg); */
  /*-moz-transform: rotate(-5deg);*/
  
  img {
    max-height: 250px;
    max-width: 275px;
    border: 8px solid white;
    -webkit-box-shadow: 3px 3px 3px #898989;
    -moz-box-shadow: 3px 3px 3px #898989;
  }
}
nav {
  margin: 10px 0 20px;
    ul {
    list-style: none;
    li {
      display: inline-block;
      list-style: none;
    }
}}
.flash-error {
  border: 3px solid #882222;
  border-left: 0;
  border-right: 0;
  color: #882222;
  display:block;
  padding: 5px 0;
  margin: 25px 0;
}
.flash-notice {
  border: 3px solid green;
  border-left: 0;
  border-right: 0;
  color: #228822;
  display:block;
  padding: 5px 0;
  margin: 25px 0;
}

h2 {
  font-size: 1.2em;
  margin: 15px 0;
  font-weight: bold;
}
.resources li {
  list-style:none;
}
.resource-section {
  margin-bottom: 30px;
}
.summary {
  margin-bottom: 10px;
}
.bids-listing {
  list-style: none;
  li:nth-child(odd) {
    background-color: #efc;
    padding: 2px 0;
    margin: 0 0 10px 0; 
  }
}
.image-block {
  display:table-row;
  img {
    display:table-cell;
  }
  .description {
    padding-left: 10px;
    display:table-cell;
    vertical-align: top;
  }
}
.person-avatar {
  height: 40px;
  width: 40px;
}
.field_with_errors {
  color: red;
  background: #ffdddd;
}
.description {
  .name {
    font-size: 1.2em;
    font-weight: bold;
  }
  .desc {
    margin-bottom: 5px;
  }
}
.report-abuse {
  background:url(/images/red_flag.png) no-repeat;
  display:inline-block;
  overflow:hidden;
  color: transparent;
  width: 16px;
  height: 16px;
}
